.music-track-details {
  container: music-track-details / inline-size;
}

@container music-track-details (max-width: 328px) {
  .music-track-badges [data-music-label]:not([data-music-label="explicit"]) {
    display: none;
  }
}

@container music-track-details (max-width: 236px) {
  .music-track-badges [data-music-kind] {
    display: none;
  }
}
